.page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .section {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
  }
  
  .division-line {
    border-color: #000;
    border-width: 1px;
    border-style: solid;
    position: relative;
  }
  
  .bent-line {
    position: absolute;
    top: 30%;
    left: 30%;
    right: 30%;
    transform: rotate(45deg);
  }
  
  .line-segment {
    height: 100%;
    width: 0;
  }
  